@font-face {
  font-family: "iconfont"; /* Project id 3162885 */
  src: url('iconfont.woff2?t=1650976938257') format('woff2'),
       url('iconfont.woff?t=1650976938257') format('woff'),
       url('iconfont.ttf?t=1650976938257') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e636";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-16:before {
  content: "\e615";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-31wode:before {
  content: "\e600";
}

